<div data-component="messageSender" class="messageSender">
    <form data-selector="form">
        <textarea autofocus placeholder="Type your message here" data-selector="text"></textarea>
        <span></span>
        <button type="submit" data-selector="sendButton" class="btn btn-primary sendBtn">Send</button>
    </form>
</div>